<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
	<div class="wrapper">
		{{> navbar}}
		<main class="main">
			<h1 class="info"></h1>
			<div class="author"></div>
		</main>
		{{> footer}}
	</div>

	{{> bootstrap.script}}
</body>

</html>