<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
	<div class="wrapper">
		{{> navbar}}
		<main class="main">
			<h1 class="info">Инструментальные средства информационных систем</h1>
			<div class="author">Лабораторные работы выполнил студент группы ВИАС41 Павленко Артём Сергеевич</div>
		</main>
		{{> footer}}
	</div>

	{{> bootstrap.script}}
</body>

</html>